* {
    margin: 0;
    padding: 0;
}

.line_through {
    text-decoration: line-through;
}

.pointer {
    cursor: pointer;
}

.plus,.star {
    transition: 2s;
    max-width: 30px;
    max-height: 30px;
}

.plus:hover,.star:hover {
    transition: 2s;
    transform: rotate(180deg);
    max-width: 30px;
    max-height: 30px;
}

.pencil,.garbage,.palette {
    transition: 0.5s;
    max-width: 30px;
    max-height: 30px;
}

.pencil:hover,.garbage:hover,.palette:hover {
    transition: 0.5s;
    max-width: 35px;
    max-height: 35px;
}

.color {
    min-width: 80px;    
}

.priority {
    color: rgb(76, 76, 219);
    font-weight: bold;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .1s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.fade-note-enter-active {
    transition: opacity 1s;
}

.fade-note-leave-active {
    transition: opacity .4s;
}

.fade-note-enter, .fade-note-leave-to {
    opacity: 0;
}

.fade-sort-enter-active {
    transition: opacity .5s;
}

.fade-sort-leave-active {
    transition: opacity .2s;
}

.fade-sort-enter, .fade-sort-leave-to {
    opacity: 0;
}
